name: PHP CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: PHP ${{ matrix.php_version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php_version: [7.3, 7.4]

    steps:
      - uses: actions/checkout@v2

      - name: Use PHP ${{ matrix.php_version }}
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: ${{ matrix.php_version }}
#          extension-csv: xdebug, mbstring, curl, zip, dom, simplexml, intl, mysql

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest
        env:
          APP_ENV: testing

      - name: Lint
        run: composer run-script lint

#     - name: Test
#       run: composer run-script test
#       env:
#         DB_PORT: ${{ job.services.mysql.ports['3306'] }}
